<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Context Param specifying the nanowar configuration -->	
	<context-param>
		<param-name>org.nanocontainer.integrationkit.ContainerComposer</param-name>
		<param-value>org.nanocontainer.nanowar.ScopedContainerComposer</param-value>
	</context-param>

	<!-- Filters -->
    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>org.codehaus.jet.web.filters.SessionFilter</filter-class>
        <init-param>
        		<param-name>ignorePaths</param-name>
             <param-value>/jsp/index.jsp,/forwardHome.action</param-value>
        </init-param>
        <init-param>
        		<param-name>redirectURL</param-name>
             <param-value>/sessionExpired.action</param-value>
        </init-param>
	</filter>                  

    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <servlet-name>action</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
                                                                                
               
	<!-- Listeners -->
	<listener>
  		<listener-class>org.nanocontainer.nanowar.NanoWarContextListener</listener-class>
	</listener>
	<listener>
  		<listener-class>org.codehaus.jet.web.session.SessionListener</listener-class>
	</listener>
	
    <!-- Standard Action Servlet -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>       
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
        
    <!-- Standard Action Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
           
    <!-- Session configuration -->
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <!-- The Welcome File List -->
    <welcome-file-list>
        <welcome-file>/jsp/index.jsp</welcome-file>
    </welcome-file-list>
   
  
    <!-- Struts Tag Library Descriptors -->
    <taglib>
        <taglib-uri>struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>

	<taglib>
		<taglib-uri>struts-tiles.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>struts-nested.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
	</taglib>
	
</web-app>
